.complaints {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media (max-width: 991px) {
    justify-content: center;
  }
  .comply {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
    margin-bottom: 30px;
    h4 {
      font-family: "Work Sans", sans-serif;
      font-weight: 800;
      font-size: 25px;
      margin-bottom: 20px;
    }
    p {
      font-family: "Barlow", sans-serif;
      color: #4e4e4e;
      font-size: 17px;
    }
    span {
      font-family: "Hind", sans-serif;
      display: block;
      color: #0184d6;
      font-weight: 500;
    }
  }
}
