.content-contact {
  background-color: #F5F7F9;
  padding-top: 80px;
  .con-con {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: block;
  }
  .head-contact {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
  }
}